<h1>Welcome</h1>
<p>This is a basic chat app</p>

<% @rooms.each do |room| %>
  <%= link_to room.name, room_path(room), class: 'btn btn-primary' %>
<% end  %>

<%= form_for @room do |f| %>
  <%= f.text_field :name %>
  <%= f.submit "Create Room" %>
<% end %>
